@if(value()) {
<div
  class="w-full flex justify-center cursor-pointer hover:bg-gray-200 transform transition-all ease-in-out duration-300 p-2"
  routerLink="/contact/{{ index() }}"
>
  <div class="flex justify-end">
    <div
      class="rounded-full bg-gray-300 text-gray-700 w-12 h-12 text-center flex flex-col justify-center"
    >
      {{ value()?.firstName?.substring(0, 1) }}
    </div>
  </div>
  <div class="px-4 flex flex-col">
    <div class="flex space-x-1">
      <span>{{ value()?.firstName }}</span>
      <span>{{ value()?.lastName }}</span>
    </div>

    <div class="text-slate-700">
      <span>{{ value()?.email }}</span>
    </div>
  </div>
</div>
} @else {
<span>add a new contact</span>
}
